@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster");
header {
  margin: -6px;
  background: url("../images/headerimgmob.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 60vh;
  padding: 20px;
  color: white;
}
#car-image__display {
	text-align: center;
	width: 100%;
	padding-top: 0.2rem;
	color: white;
	display: grid;
	grid-template-rows: repeat(4, auto);
	align-content: center;
	font-family: "lobster";
}

#car-image__display img {
	width: 100%;
}

#car-image__display p {
	color: #9CD898;
}

#car-image__display {
	grid-template-columns: 60% 40%;
	grid-row-gap: 1.5rem;
	grid-column-gap: 0.1rem;
	align-items: center;
}

#car-image__display img {
	width: 100%;
}

#car-image__display h3{
	color: black
}

#car-image__display p {
	color: #9CD898;
	font-size: 3rem;
}